/* Colors */
$primary: red;
$secondary: grey;
$alternative: black;
$soft: rgb(61, 61, 61);
$text-color: white;
$football: rgb(87, 70, 243);
$action: rgb(224, 54, 54);

/* Spacings */
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

/*Font-family */
$font-principal: 'Barlow', sans-serif;
$font-title: 'Roboto Slab', serif;

/* Font-Sizes */
$text-large: 5.2em;
$text-medium: 2.2em;
$text-base: 1.6em;
$text-small: 1.4em;